body{
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}

.image-box{
    width: 30%;
}

img {
    height: 100%;
    width: auto;
    border: 2px solid whitesmoke;
    border-radius: 5%;
  }

.width-80{
    /* width: 80%; */
}

.height-100{
    height: 100%;
}

.flex_center_col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 0px;
    padding: 0px;
}

h2{
  text-align: center;
  margin-top: 50px;
  width: 100%;
  color: chocolate;
}

.flex_center_row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    margin-right: 0px;
}

.text_center{
    text-align: center;
}

a:link {
    text-decoration: none;
  }
  
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

#waitDiv{
  text-align: center;
}

#waitDiv h3{
    margin: 10px;
}

#learnDiv{
    text-align: center;
}

#learnDiv h3{
      margin: 10px;
}

#databaseDiv{
  text-align: center;
}

#databaseDiv h3{
    margin: 10px;
}

.form-group{
  text-align: center;
  font-size: 32px;
}

#password_check_button{
  height: 5vh;
  line-height: 5vh;
  font-size: 24px;
  color: aliceblue;
  background-color: #007BFF;
  border:  transparent 1px solid;
  margin: 10px;
  border-radius: .25rem;
}

.nav-link:hover {
  background-color: #92c7ff;
}